.upcomingContainer {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.upcomingDataUnorderList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
